/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&spi0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&hktft32>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&ads7846>;

		__overlay__ {
			status = "okay";
		};
	};
};
