menu "ARM GPU Selection"

config MIDGARD_GXX
	bool "Mali Midgard For GXX Series"
	help
	  Select this option for ODROID-N2/N2L/N2+/C4/HC4

config MIDGARD_TXXX
	bool "Mali Midgard for TXXX Series"
	help
	  Select this option for ODROID-XU3/XU4 family

endmenu

if MIDGARD_GXX
source "drivers/gpu/arm/midgard/Kconfig"
endif

if MIDGARD_TXXX
source "drivers/gpu/arm/midgard.txxx/Kconfig" 
endif
